section{text-align: center;}
.flex-containar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-item{
  color: white;
  margin: 0 1em 1em;
  flex-basis: 30%;
}
img{
  border-radius: 15px;
  width: 440px;
}
@media screen and (max-width: 780px){
  .flex-containar{
    display: flex;
  }
}
